<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>また行きたい。あの場所に</h1>
        <p class="panel panel-default">今まで行ってみて、「ああ、良かったなぁ～」という場所はありませんか？
        <br />特に思い出の深い場所は、レビューを投稿して、多くの人にその場所の素晴らしさを教えてあげたいですね。
        <br />そして、もう一度あの場所に行きたいという気持ちになるでしょう。</p>
    </div>
  </div>
</div>